<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	
	<context:component-scan base-package="model"></context:component-scan>
	
	<bean class="com.an.app.common.LogPlusAdvice" id="log"/>		
	<bean class="com.an.app.common.AfterAdvice" id="aAdvice"></bean>
	<bean class="com.an.app.common.AfterReturningAdvice" id="arAdvice"></bean>
	<bean class="com.an.app.common.AfterThrowingAdvice" id="atAdvice"></bean>
	<bean class="com.an.app.common.AroundAdvice" id="aroundAdvice"></bean>

	<aop:config>
		<aop:pointcut expression="execution(* model.board.*Impl.get*(..))" id="aPointcut"/>
		<aop:pointcut expression="execution(* model.board.*Impl.*(..))" id="bPointcut"/>
	
		<!-- aspect 설정 -->
	<!-- 	<aop:aspect ref="aAdvice">
			<aop:after method="printLog" pointcut-ref="bPointcut"/>
		</aop:aspect>
		<aop:aspect ref="arAdvice">
			<aop:after-returning method="printLog" pointcut-ref="aPointcut"/>
		</aop:aspect>
		<aop:aspect ref="atAdvice">
			<aop:after-throwing method="printLog" pointcut-ref="bPointcut"/>
		</aop:aspect> -->
		<aop:aspect ref="aroundAdvice">
			<aop:around method="printLog" pointcut-ref="bPointcut"/>
		</aop:aspect>
	</aop:config>




</beans>
